* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 15rem auto 15rem;
	grid-template-areas: 'aside main details';
	width: 100vw;
	height: 100vh;
}

.aside {
	grid-area: aside;
	background-color: #834a42;
	padding: 1rem;

	display: flex;
	flex-direction: column;
}

.noteDetails {
	grid-area: details;
	padding: 1rem;

	background-color: #cdaa7f;
	color: white;
}

.noteDetails__paragraph {
	margin: 0;
}

.note {
	grid-area: main;

	padding: 1rem;
	background-color: #fbfbfb;
	outline: none;
}

.aside__item {
	cursor: pointer;
	color: white;
}

.aside__item--focused {
	background-color: #cdaa7f;
}

.noteDetails__todos__list__element--completed {
	text-decoration: line-through;
}
